@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: #589468;
  --foreground: white;
} */

